@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');

body {
	height: 100%;
	overflow: hidden;
}

#map {
	background: #000000;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.system-label {
	opacity: 1.0 !important;
	border: none !important;
	box-shadow: none !important;
	background-color: transparent !important;
	color: white !important;
}

.system-generic {
	background-image: url('popups/halo.png');
	width: 524px; /*647px;*/
	height: 266px; /*376px;*/
	overflow: hidden;
}

.system-generic .leaflet-popup-content-wrapper {
	background: none;
	color: #fff;
	box-shadow: none;
}

.system-generic .leaflet-popup-tip-container {
	visibility: hidden;
}

.system-generic .system-pointer-generic {
	background-image: url('popups/generic.png');
	position: absolute;
	left: 124px;
	top: 40px;
	width: 400px;
	height: 226px;
	font-family: "Exo", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

.faction {
	position: absolute;
	left: 78px;
	top: -5px;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 90%;
}

.name {
	position: absolute;
	left: 78px;
	top: 11px;
	font-weight: 350;
	font-size: 140%;
}

.id {
	position: absolute;
	left: 103px;
	top: 39px;
	color: #999999;
	font-size: 0.85em;
}

.hostiles {
	position: absolute;
	left: 8px;
	top: 75px;
}

.mining {
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 30px;
	padding-left: 8px;
	padding-top: 13px;
	background-color: rgba(0,0,0,0.5);
}

.toll .leaflet-popup-content-wrapper {
	background-color: #1c2f38;
	color: #ffffff;
	border: 1px solid #ffffff;
}

.toll .cost {
	color: #00ff00;
}

