body {
	height: 100%;
	overflow: hidden;
}

#map {
	background: #000000;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.system-label {
	opacity: 1.0 !important;
	border: none !important;
	box-shadow: none !important;
	background-color: transparent !important;
	color: white !important;
}

.system-generic {
	background-image: url('popups/halo.png');
	width: 647px;
	height: 376px;
}

.system-generic .leaflet-popup-content-wrapper {
	background: none;
	color: #fff;
	box-shadow: none;
}

.system-generic .leaflet-popup-tip-container {
	visibility: hidden;
}

.system-generic .system-pointer-generic {
	background-image: url('popups/generic.png');
	position: absolute;
	left: 124px;
	top: 40px;
	width: 400px;
	height: 226px;
}

.faction {
	position: absolute;
	left: 78px;
	top: -11px;
	text-transform: uppercase;
}

.name {
	position: absolute;
	left: 78px;
	top: 2px;
}

.id {
	position: absolute;
	left: 103px;
	top: 39px;
	color: #999999;
	font-size: 0.85em;
}

.hostiles {
	position: absolute;
	left: 8px;
	top: 75px;
}

.mining {
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 30px;
	padding-left: 8px;
	padding-top: 13px;
	background-color: rgba(0,0,0,0.5);
}

.toll .leaflet-popup-content-wrapper {
	background-color: #1c2f38;
	color: #ffffff;
	border: 1px solid #ffffff;
}

.toll .cost {
	color: #00ff00;
}

